<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>{{ flight.name }}</h1>
<!-- TODO: list matches -->
  <button ion-button large full clear (click)="toggleItem(0)">
    Players
  </button>
  <div *ngIf="!isItemHidden(0)">
    <ion-list>
      <ion-item ion-item *ngFor="let flightPlayer of flightPlayers">
        <h2>{{ flightPlayer.name }} ({{ flightPlayer.ntrp }}) {{ flightPlayer.email }} {{ flightPlayer.phone }}</h2>
      </ion-item>
    </ion-list>
  </div>
  <button ion-button large full clear (click)="toggleItem(1)">
    Schedule
  </button>
  <ion-item-group *ngFor="let group of flightMatchesGroupedAndFiltered()" [hidden]="isItemHidden(1)">
    <ion-item-divider light>{{group.scheduledDate}}</ion-item-divider>
    <ion-item *ngFor="let match of group.matches">
      <h2><strong>Home:</strong> {{ match.home_player.name }} <strong>Visitor:</strong> {{ match.visitor_player.name }}</h2>
      <h2 style="text-transform: capitalize; color: green" *ngIf="match.played_date">{{ match.winner }} {{ match.score }}</h2>
      <button ion-button color="primary" outline icon-left item-right (click)="enterScore(match.id)" *ngIf="myPlayer.id == match.visitor_player.id || myPlayer.id == match.home_player.id">
        <ion-icon color="secondary" name="ios-tennisball"></ion-icon>
        Enter score
      </button>
   </ion-item>
  </ion-item-group>
<!-- TODO: show results on match list -->
<!-- TODO: standings -->
<!-- TODO: score entry -->
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons right>
      <button ion-button color="secondary" outline icon-left (click)="toggleItem(2)" *ngIf="myPlayer.id">
        <ion-icon color="primary" name="ios-eye-outline"></ion-icon>
        <span *ngIf="!isItemHidden(2)">Show my matches</span>
        <span *ngIf="isItemHidden(2)">Show all matches</span>
      </button>
    </ion-buttons>
    <ion-buttons left>
      <button ion-button color="danger" outline round icon-left (click)="Auth.login('flight:' + flight.id)" *ngIf="!loggedIn">
        <ion-icon name="log-in"></ion-icon>
        Login
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
