<ion-header>
  <ion-toolbar>
    <ion-title>
      Enter score
    </ion-title>
    <ion-buttons start>
      <button ion-button color="danger" outline icon-left (click)="dismiss()">
        <ion-icon name="ios-close-outline"></ion-icon>
        Cancel
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list *ngIf="invalid()">
    <ion-item *ngFor="let error of errors">
      <ion-label style="overflow: auto; white-space: normal;">{{error}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <strong>Home:</strong> {{ match.home_player.name }} <strong>Visitor:</strong> {{ match.visitor_player.name }}, week of {{ match.scheduled_date }}
    </ion-list-header>
    <ion-item>
      <ion-label>Match status</ion-label>
      <ion-select [(ngModel)]="match.status">
        <ion-option *ngFor="let status of listStatus" [value]="status.data" >{{ status.display }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Date played</ion-label>
      <ion-datetime displayFormat="MMM D, YYYY" pickerFormat="MMM D, YYYY" [(ngModel)]="match.played_date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Score winner</ion-label>
      <ion-select [(ngModel)]="score[0]" interface="popover">
        <ion-option *ngFor="let scoreOption of scoreOptionsHome" [value]="scoreOption.data" >{{ scoreOption.data }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Score loser</ion-label>
      <ion-select [(ngModel)]="score[1]" interface="popover">
        <ion-option *ngFor="let scoreOption of scoreOptionsVisitor" [value]="scoreOption.data" >{{ scoreOption.data }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Winning player</ion-label>
      <ion-select [(ngModel)]="match.winner" (ngModelChange)="changeWinner($event)">
        <ion-option *ngFor="let winner of listWinner" [value]="winner.data" >{{ winner.display }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <button ion-button block color="primary" (click)="dismiss()" [disabled]="invalid()">
    Submit
  </button>
</ion-content>
