<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="ie">
    <ion-item>
    <ion-icon color="danger" name="nuclear" item-left></ion-icon>
     Internet Explorer is not supported. Please use <a herf="https://browsehappy.com/">a different browser</a>.
    </ion-item>
  </ion-list>
  <h3>Flights</h3>
  <!-- TODO: show login button if logged out -->
  <!-- TODO: list flights, highlighting 'mine' if logged in -->
  <!-- TODO: my notifications if loged in -->
  <ion-list>
    <button ion-item *ngFor="let flight of flights" (click)="flightTapped($event, flight)">
      {{ flight.name }}
    </button>
  </ion-list>

</ion-content>
